@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  color-scheme: dark;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  /* color: ${theme.colors.gray12};
  background-color: ${theme.colors.gray2};
  font-family: ${pretendard.style.fontFamily};
  font-weight: ${pretendard.style.fontWeight};
  font-style: ${pretendard.style.fontStyle}; */
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: inherit;
  font-style: inherit;
}

a {
  all: unset;
  cursor: pointer;
}

img {
  overflow-clip-margin: content-box;
  overflow: clip;
}

ul {
  padding: 0;
}

button {
  all: unset;
  cursor: pointer;
}

input {
  all: unset;
  box-sizing: border-box;
}

textarea {
  border: none;
  background-color: transparent;
  font-family: inherit;
  padding: 0;
  outline: none;
  resize: none;
  color: inherit;
}

hr {
  width: 100%;
  border: none;
  margin: 0;
  /* border-top: 1px solid ${theme.colors.gray6}; */
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 237, 237, 237;
    --background-start-rgb: 28, 28, 28;
    --background-end-rgb: 28, 28, 28;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom, transparent, rgb(var(--background-end-rgb)))
    rgb(var(--background-start-rgb));
}

.notion-collection-page-properties {
  display: none !important;
}
.notion-page {
  padding: 0;
}
