@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: inherit;
  font-style: inherit;
}

a {
  all: unset;
  cursor: pointer;
}

img {
  overflow-clip-margin: content-box;
  overflow: clip;
}

ul {
  padding: 0;
}

button {
  all: unset;
  cursor: pointer;
}

input {
  all: unset;
  box-sizing: border-box;
}

textarea {
  border: none;
  background-color: transparent;
  font-family: inherit;
  padding: 0;
  outline: none;
  resize: none;
  color: inherit;
}

hr {
  width: 100%;
  border: none;
  margin: 0;
  border-top: 1px solid var(--card-foreground);
}

.notion-collection-page-properties {
  display: none !important;
}
.notion-page {
  padding: 0;
}

@layer base {
  :root {
    --background: 248 248 248;
    --foreground: 23 23 23;

    --muted: 237 237 237;
    --muted-foreground: 23 23 23;

    --accent: 0 0 0;
    --accent-foreground: 111 111 111;

    --popover: 232 232 232;
    --popover-foreground: 23 23 23;

    --border: 226 226 226;
    --input: 0 0 0;

    --card: 232 232 232;
    --card-foreground: 133 133 133;

    --primary: 0 0 0;
    --primary-foreground: 0 0 0;

    --secondary: 0 0 0;
    --secondary-foreground: 0 0 0;

    --destructive: 0 0 0;
    --destructive-foreground: 0 0 0;

    --ring: 0 0 0;

    --radius: 0.5rem;
  }

  .dark {
    --background: 28 28 28;
    --foreground: 237 237 237;

    --muted: 40 40 40;
    --muted-foreground: 237 237 237;

    --accent: 0 0 0;
    --accent-foreground: 160 160 160;

    --popover: 46 46 46;
    --popover-foreground: 237 237 237;

    --border: 52 52 52;
    --input: 0 0 0;

    --card: 46 46 46;
    --card-foreground: 126 126 126;

    --primary: 0 0 0;
    --primary-foreground: 0 0 0;

    --secondary: 0 0 0;
    --secondary-foreground: 0 0 0;

    --destructive: 0 0 0;
    --destructive-foreground: 0 0 0;

    --ring: 0 0 0;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
